<% content_for :title, "Quiz" %>

<div class="bg-light lter b-b wrapper-md">
    <h1 class="m-n font-thin h3">Quiz</h1>
</div>

<div class="wrapper-md">

  <% if @quiz_completed == false %>
    <div class="row">
      <div class="col-md-8 col-md-offset-2">

        <div class="progress progress-xs m-t-sm bg-white">
          <div class="progress-bar bg-primary" data-toggle="tooltip" data-original-title="<%= @completion_percentage %>%" style="width: <%= @completion_percentage %>%"></div>
        </div>

        <div class="panel panel-default">
          <div class="panel-body">
            <%= form_for :answer, url: app_answers_path, method: :post, :html => {:class => 'form-horizontal', id: "quiz_form"} do |f| %>

              <%= hidden_field_tag(:question_id, "#{@question.id}") %>

              <div class="form-group">
                <div class="col-sm-12 text-md">
                  <%= @question.qn_text %>
                </div>
              </div>
              <div class="line line-dashed b-b line-lg pull-in"></div>

              <div class="form-group">
                <div class="col-sm-12">
                  <div class="radio"><label><input type="radio" name="answer[weightage]" value="5" class="my_answer"> Strongly Agree</label></div>
                  <div class="radio"><label><input type="radio" name="answer[weightage]" value="4" class="my_answer"> Agree</label></div>
                  <div class="radio"><label><input type="radio" name="answer[weightage]" value="3" class="my_answer"> Undecided</label></div>
                  <div class="radio"><label><input type="radio" name="answer[weightage]" value="2" class="my_answer"> Disagree</label></div>
                  <div class="radio"><label><input type="radio" name="answer[weightage]" value="1" class="my_answer"> Strongly Disagree</label></div>
                </div>
              </div>
              <div class="line line-dashed b-b line-lg pull-in"></div>

              <div class="form-group">
                <div class="col-sm-12 text-center">
                  <%= f.submit 'Submit', :class => 'btn btn-primary', id: "submit_my_answer" %>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  <% else %>
    <div class="row">
      <div class="col-md-8 col-md-offset-2">

        <div class="alert alert-success">
          <strong>Congratulations!</strong> You successfully finished the quiz. Please check your intelligence score distribution below. Now you can <strong><%= link_to("Click Here", app_suggestions_path)%></strong> to view advanced suggestions.
        </div>

        <div class="panel panel-default">
          <div class="panel-body">

            <div class="table-responsive">
              <table class="table table-striped b-t b-light">

                <thead>
                  <tr>
                    <th>Category</th>
                    <th class="text-center">Score</th>
                  </tr>
                </thead>
                <tbody>
                  <% @my_categories.each do |user_category| %>
                    <tr>
                      <td><%= user_category.category.name %></td>
                      <td class="text-center"><%= user_category.total_weightage %></td>
                    </tr>
                  <% end %>
                </tbody>

              </table>
            </div>

          </div>
        </div>
      </div>
    </div>
  <% end %>

</div>

<% content_for :javascript do %>
  <script>
    $("#submit_my_answer").on("click", function(e){
      e.preventDefault();
      if ($(".my_answer:checked").val()){
        $("#quiz_form").submit();
      }
      else {
        alert("Please choose your answer.")
      }
    });
  </script>
<% end %>
