<% content_for :title, "Colleges" %>

<div class="bg-light lter b-b wrapper-md">
    <h1 class="m-n font-thin h3">Colleges<%= (" - "+@university.name) if @university.present? %></h1>
</div>

<div class="wrapper-md">

  <div class="panel panel-default">
    <div class="panel-heading font-bold">
      Filter Colleges
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-sm-3">
          <div class="btn-group dropdown">
            <button data-toggle="dropdown" class="btn btn-default btn-sm" aria-expanded="false">Filter By District <span class="caret"></span></button>
            <ul class="dropdown-menu">
              <% @district_filter_hash.keys.each do |district_filter| %>
                <li><a href="?district=<%= district_filter %>"><%= @district_filter_hash[district_filter] %></a></li>
              <% end %>
            </ul>
          </div>
        </div>
        <div class="col-sm-3">
        </div>
        <div class="col-sm-3">
        </div>
      </div>
    </div>
  </div>

    <%= render 'admin/partials/flash_message' %>

    <div class="row">
      <div class="col-md-12">

        <div class="panel panel-default">
          <div class="panel-body no-padder">

            <div class="table-responsive">
              <table class="table table-striped b-t b-light">
                <thead>
                  <tr>
                    <th>Name</th>
                    <th>Courses</th>
                    <th class="text-center">District</th>
                    <% if @university.blank? %>
                      <th class="text-center">University</th>
                    <% end %>
                  </tr>
                </thead>
                <tbody>
                  <% unless @colleges.empty? %>
                  <% @colleges.each do |college| %>
                    <tr>
                      <td>
                        <%= college.name %>
                        <div class="text-xs text-muted">
                          <span title="<%= college.address.to_s %>" data-toggle='tooltip' data-placement='right'>
                            <%= truncate(college.address.to_s, length: 40) %>
                          </span>
                          <%= ("<br/>Ph: "+college.phone.to_s).html_safe if college.phone.present? %>
                        </div>
                      </td>
                      <td>
                        <ul class="no-padder">
                          <% college.college_courses.each do |college_course| %>
                            <li>
                              <%= college_course.course.name %>
                              <% if college_course.with_subjects.present? %>
                                <span class="text-xs text-muted">with <%= college_course.with_subjects %></span>
                              <% end %>
                              <% if college_course.no_of_seats != 0 %>
                                <span class="text-xs text-info">(<%= college_course.no_of_seats %> seats)</span>
                              <% end %>
                            </li>
                          <% end %>
                        </ul>
                      </td>
                      <td class="text-center"><%= college.district.name %></td>
                      <% if @university.blank? %>
                        <td class="text-center">
                          <%= college.university.name %>
                        </td>
                      <% end %>
                    </tr>
                  <% end %>
                  <% else %>
                    <tr>
                      <td class="text-center" colspan="9">
                        No Colleges
                      </td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
            </div>

          </div>
        </div>
      </div>
    </div>

</div>
