<% content_for :title, "Categories" %>

<div class="bg-light lter b-b wrapper-md">
  <h1 class="m-n font-thin h3">Categories</h1>
</div>

<div class="wrapper-md">

  <%= render 'admin/partials/flash_message' %>

  <div class="panel panel-default">
    <div class="row wrapper">
      <div class="col-sm-4 m-b-xs">
        <% unless @categories.empty? %>
          <%= form_tag admin_categories_path, method: :get do %>
            <div class="input-group">
            <%= text_field_tag :query, "", class: "input-sm form-control" %>
            <span class="input-group-btn">
              <%= submit_tag 'Go!', class: "btn btn-sm btn-default" %>
            </span>
            </div>
          <% end %>
        <% end %>
      </div>
      <div class="col-sm-4 col-md-offset-4">
        <div class="input-group pull-right">
          <span class="input-group-btn table-action-button">
            <%= link_to "Add Category".html_safe, new_admin_category_path, { :class => 'btn btn-sm btn-primary' } %>
          </span>
        </div>
      </div>
    </div>
    <div class="table-responsive">
      <table class="table table-striped b-t b-light">

        <thead>
          <tr>
            <th>Name</th>
            <th class="text-center">Action</th>
          </tr>
        </thead>
        <tbody>
          <% unless @categories.empty? %>
          <% @categories.each do |category| %>
            <tr>
              <td><%= category.name %></td>
              <td class="table-actions text-center">
                <%= link_to "<i class='fa fa-pencil'></i>".html_safe, edit_admin_category_path(category), { :class => 'btn btn-sm btn-icon btn-dark' } %>
              </td>
            </tr>
          <% end %>
          <% else %>
            <tr>
              <td class="text-center" colspan="5">
                Please add a Category
              </td>
            </tr>
          <% end %>
        </tbody>

      </table>
    </div>
    <% unless @categories.empty? %>
      <footer class="panel-footer">
        <div class="row">
          <div class="col-sm-4 text-left">
            <small class="text-muted inline m-t-sm m-b-sm">
              <%= page_entries_info @categories %>
            </small>
          </div>
          <div class="col-sm-8 text-right text-center-xs">
            <%= will_paginate @categories, renderer: BootstrapPagination::Rails, class: 'pagination-sm m-t-none m-b-none', previous_label: '<i class="fa fa-chevron-left"></i>', next_label: '<i class="fa fa-chevron-right"></i>', inner_window: 1, outer_window: 1 %>
          </div>
        </div>
      </footer>
    <% end %>
  </div>
</div>
