<% content_for :title, "Add a Category" %>

<div class="bg-light lter b-b wrapper-md">
  <h1 class="m-n font-thin h3">Add a Category</h1>
</div>

<div class="wrapper-md">
  <%= render 'admin/partials/flash_message' %>

  <div class="panel panel-default">
    <div class="panel-heading font-bold">
      Add Category
    </div>
    <div class="panel-body">
      <%= form_for :category, url: admin_categories_path, :html => {:multipart => true, :class => 'form-horizontal'} do |f| %>

        <div class="form-group <%= 'has-error' if @category.errors[:name].present? %>">
          <%= f.label :name, :class => 'col-sm-2 control-label' %>
          <div class="col-sm-10">
            <%= f.text_field :name, :class => 'form-control' %>
            <%= show_errors(@category, :name).html_safe %>
          </div>
        </div>
        <div class="line line-dashed b-b line-lg pull-in"></div>

        <div class="form-group">
          <div class="col-sm-4 col-sm-offset-2">
            <%= f.submit 'Add Category', :class => 'btn btn-primary' %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
