<!-- Modal -->
<div class="modal fade" id="UpdatePassword" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Update Password</h4>
      </div>
      <div class="modal-body">

        <%= form_for(:admin, :url => "#", :html => {:id => "UpdatePasswordForm", :class => 'form-horizontal'} ) do |f| %>

          <input type="hidden" id="admin_id" name="admin_selected[id]" value="" />

          <div class="row">
            <div class="col-md-12">

              <div class="form-group">
                  <%= f.label :current_password, 'Current Password', :class => 'col-sm-4 control-label' %>
                  <div class="col-sm-8">
                      <%= f.password_field :current_password, :class => 'form-control' %>
                  </div>
              </div>
              <div class="line line-dashed b-b line-lg pull-in"></div>

            </div>
          </div>

          <div class="row">
            <div class="col-md-12">

              <div class="form-group">
                  <%= f.label :password, 'New Password', :class => 'col-sm-4 control-label' %>
                  <div class="col-sm-8">
                      <%= f.password_field :password, :class => 'form-control' %>
                  </div>
              </div>
              <div class="line line-dashed b-b line-lg pull-in"></div>

            </div>
          </div>

          <div class="row">
            <div class="col-md-12">

              <div class="form-group">
                  <%= f.label :password_confirmation, 'Confirm New Password', :class => 'col-sm-4 control-label' %>
                  <div class="col-sm-8">
                      <%= f.password_field :password_confirmation, :class => 'form-control' %>
                  </div>
              </div>

            </div>
          </div>
        <% end %>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" id="update_password_button">Update</button>
      </div>

    </div>
  </div>
</div>

<style>
  .error {
    color: #a94442;
  }
</style>
