<% content_for :title, "Districts" %>

<div class="bg-light lter b-b wrapper-md">
    <h1 class="m-n font-thin h3">Districts</h1>
</div>

<div class="wrapper-md">

  <%= render 'admin/partials/flash_message' %>

  <div class="panel panel-default">
    <div class="row wrapper">
      <div class="col-sm-4 col-md-offset-8">
        <div class="input-group pull-right">
          <span class="input-group-btn table-action-button">
            <%= link_to "Add District".html_safe, new_admin_district_path, { :class => 'btn btn-sm btn-primary' } %>
          </span>
        </div>
      </div>
    </div>
    <div class="table-responsive">
      <table class="table table-striped b-t b-light">

        <thead>
          <tr>
            <th>Name</th>
            <th class="text-center">Action</th>
          </tr>
        </thead>
        <tbody>
          <% unless @districts.empty? %>
          <% @districts.each do |district| %>
            <tr>
              <td><%= district.name %></td>
              <td class="table-actions text-center">
                <%= link_to "<i class='fa fa-pencil'></i>".html_safe, edit_admin_district_path(district), { :class => 'btn btn-sm btn-icon btn-dark' } %>
              </td>
            </tr>
          <% end %>
          <% else %>
            <tr>
              <td class="text-center" colspan="5">
                Please add a District
              </td>
            </tr>
          <% end %>
        </tbody>

      </table>
    </div>
    <% unless @districts.empty? %>
      <footer class="panel-footer">
        <div class="row">
          <div class="col-sm-4 text-left">
            <small class="text-muted inline m-t-sm m-b-sm">
              <%= page_entries_info @districts %>
            </small>
          </div>
          <div class="col-sm-8 text-right text-center-xs">
            <%= will_paginate @districts, renderer: BootstrapPagination::Rails, class: 'pagination-sm m-t-none m-b-none', previous_label: '<i class="fa fa-chevron-left"></i>', next_label: '<i class="fa fa-chevron-right"></i>', inner_window: 1, outer_window: 1 %>
          </div>
        </div>
      </footer>
    <% end %>
  </div>
</div>
