<!-- Modal -->
<div class="modal fade" id="changePassword" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Change Password</h4>
      </div>
      <div class="modal-body">

        <%= form_for(@user, :url => "#", :html => {:id => "changePasswordForm", :class => 'form-horizontal'} ) do |f| %>

          <div class="row">
            <div class="col-md-12">

              <div class="form-group <%= 'has-error' if @user.errors[:current_password].present? %>">
                  <%= f.label :current_password, 'Current Password', :class => 'col-sm-4 control-label' %>
                  <div class="col-sm-8">
                      <%= f.password_field :current_password, :class => 'form-control' %>
                      <%= show_errors(@user, :current_password).html_safe %>
                  </div>
              </div>
              <div class="line line-dashed b-b line-lg pull-in"></div>

            </div>
          </div>

          <div class="row">
            <div class="col-md-12">

              <div class="form-group <%= 'has-error' if @user.errors[:password].present? %>">
                  <%= f.label :password, 'New Password', :class => 'col-sm-4 control-label' %>
                  <div class="col-sm-8">
                      <%= f.password_field :password, :class => 'form-control' %>
                      <%= show_errors(@user, :password).html_safe %>
                  </div>
              </div>
              <div class="line line-dashed b-b line-lg pull-in"></div>

            </div>
          </div>

          <div class="row">
            <div class="col-md-12">

              <div class="form-group <%= 'has-error' if @user.errors[:password_confirmation].present? %>">
                  <%= f.label :password_confirmation, 'Confirm New Password', :class => 'col-sm-4 control-label' %>
                  <div class="col-sm-8">
                      <%= f.password_field :password_confirmation, :class => 'form-control' %>
                      <%= show_errors(@user, :password_confirmation).html_safe %>
                  </div>
              </div>
              <div class="line line-dashed b-b line-lg pull-in"></div>

            </div>
          </div>
        <% end %>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary" id="update_password_button">Change Password</button>
      </div>

    </div>
  </div>
</div>

<% content_for :custom_styles do %>
  <style>
    .error {
      color: #a94442;
    }
  </style>
<% end %>

<% content_for :javascript do %>
  <script>
      $( document ).ready(function() {
        $("#update_password_button").on("click",function(e){
          e.preventDefault();
          changePasswordForm = $("#changePasswordForm");
          var formData = new FormData( changePasswordForm[0] );
          $.ajax({
            type:'POST',
            url: "/update_password",
            data: formData,
            cache:false,
            contentType: false,
            processData: false,
            success:function(data){

              changePasswordForm.find(".error").remove();
              changePasswordForm.find("input").css("border-color","#ccc");

              if(data["result"] == "yes"){
                location.reload();
              }
              else {
                var error_json = data["error_str"];
                $.each(error_json, function(k, v) {
                  $("#user_"+k).css("border-color","#a94442").siblings().remove();
                  $("#user_"+k).parent().append('<div class="error">'+v[0]+'</div>')
                });
              }
            }
          });
        });
      });
  </script>
<% end %>
