<!DOCTYPE html>
<html lang="en" class="">
  <head>
    <meta charset="utf-8" />
    <title>SkreemSocial Admin</title>
    <meta name="description" content="SkreemSocial is a social influencing platform, which enables Brands to engage their interest groups and potential customers for social media endorsements." />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

    <%= stylesheet_link_tag "app/styles.css" %>
    <%= yield :css_libraries %>
    <%= yield :custom_styles %>

    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="app app-header-fixed app-aside-fixed">
      <%= yield %>
    </div>

    <%= javascript_include_tag  "app/scripts.js" %>
    <%= yield :js_libraries %>
    <%= yield :javascript %>

  </body>
</html>
