<!DOCTYPE html>
<html lang="en" class="">
  <head>
    <meta charset="utf-8" />
    <title><%= yield(:title) %> - EduHelper</title>
    <meta name="description" content="EduHelper" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

    <%= stylesheet_link_tag "app/styles.css" %>
    <%= yield :css_libraries %>
    <%= yield :custom_styles %>

    <%= csrf_meta_tags %>
  </head>
  <body>

    <div class="app app-header-fixed app-aside-fixed <%= 'app-aside-folded' if @side_bar_state %>">

      <!-- header -->
      <%= render "app/partials/header" %>
      <!-- / header -->

      <!-- aside -->
      <%= render "app/partials/aside" %>
      <!-- / aside -->

      <!-- content -->
      <div id="content" class="app-content" role="main">
        <div class="app-content-body ">
          <%= yield %>
        </div>
      </div>
      <!-- /content -->

      <!-- footer -->
      <%= render "app/partials/footer" %>
      <!-- / footer -->

    </div>

    <%= javascript_include_tag  "app/scripts.js" %>

    <%= yield :js_libraries %>
    <%= yield :javascript %>

    <script type="text/javascript">
      $(document).ready(function() {
        $('[data-toggle="tooltip"]').tooltip();

        $("#footer_button_to_top").on("click", function(e){
          e.preventDefault();
          $('html, body').animate({scrollTop : 0},500);
        });
      });
    </script>
  </body>
</html>
