<!DOCTYPE html>
<html lang="en" class="">
  <head>
    <meta charset="utf-8" />
    <title><%= yield(:title) %> - EduHelper</title>
    <meta name="description" content="EduHelper" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

    <%= stylesheet_link_tag "app/styles.css" %>
    <%= yield :css_libraries %>
    <%= yield :custom_styles %>

    <%= csrf_meta_tags %>
  </head>
  <body>

    <div class="app app-header-fixed ">
      <%= yield %>
    </div>

    <%= javascript_include_tag  "app/scripts.js" %>
    <%= yield :js_libraries %>
    <%= yield :javascript %>

  </body>
</html>
